<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Homepage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button routerLink="/wordpress">Go to wordpress</ion-button>
  <ion-card *ngFor="let item of products" routerLink="viewproduct/{{item.id}}">
    <img alt="Silhouette of mountains" [src]="item.thumbnail" />
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
      <ion-card-subtitle>{{item.brand}}</ion-card-subtitle>
     
    </ion-card-header>
   
    <!-- <ion-button >View Product</ion-button> -->
  </ion-card>
</ion-content>
